#game-area {
        position: relative;
        margin: 0 auto ;
        margin-top: 100px;
        width: 600px;
        height: 600px;
        border: 2px solid black;
}

.snake-dot{
        position: absolute;
        width: 2%;
        height: 2%;
        background-color: #000;
        border: 1px solid #fff;
}

.food{
        position: absolute;
        width: 2%;
        height: 2%;
        background-color: red;
        border: 1px solid #fff;
        z-index: 1;
}

#initial-screen{
        display: block;
        border: 2px solid black;
}