@import url('https://fonts.googleapis.com/css?family=Coda+Caption:800');
@import url('https://fonts.cdnfonts.com/css/arcade-classic');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html{
    font-family: 'Press Start 2P', cursive;;
}
.title {
    font-family: 'ArcadeClassic', sans-serif;
    font-size: 200px;
    text-align: center;
    background: linear-gradient(to bottom, rgb(0, 255, 8), #f02828);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}


#game-area {
    position: relative;
    margin: auto;
    margin-top: 400px;
    width: 600px;
    height: 600px;
    border: 2px solid black;
    background-image: url('./assets/grid.jpg');
}


.snake-dot{
    position: absolute;
    width: 2%;
    height: 2%;
    background-color: #000;
    }

.food{
    display: block;    
}

#initial-screen {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 20px;
    height: 100vh;
    }

#gameCodeDisplay {
    font-size: 20px;
    font-weight: bold;
    color: #000;
    font-family: 'Press Start 2P', cursive;
}

button {
    position: relative;
    font-family: 'Press Start 2P', cursive;
    background-color:#fff;
    color: black;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    margin: 10px;
    cursor: pointer;
}

button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -10px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid black;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

button:hover::before {
    opacity: 1;
}

.gamecode{
    font-family: 'Press Start 2P', cursive;
    color: #000;
}

input {
    background-color: #e6e6e6;
    color: black;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    margin: 10px;
}

input::placeholder {
    color: #b3b3b3;
}

.game-over{
    margin: 0 auto;
    margin-top: 400px;
    display: none;
    flex-direction: column;
    align-items: center;
    border-radius: 2%;
    width: 400px;
    height: 600px;
    background-color: skyblue;
    box-shadow: 2px 2px 4px #000000;
    z-index: 2;
}

.game-over-heading{
    color: #fff;
    margin-top: 60px;
    margin-bottom: 10px;
    font-size: 80px;
    text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}

.over{
    color: darkred;
}

.game-over-subh{
    color: #fff;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.player-scores{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.score{
    padding: 0 20px;
}

.golden{
    color: gold ;
    text-shadow: 2px 2px #000;
}

.play-again{
    margin-top: 40px;
    text-shadow: 4px 4px white;
}

.main-menu-wrapper{
    margin-top: 60px;

}

.main-menu-btn{
    margin-top: 90px;
    text-shadow: 4px 4px white;
    position: relative;
    font-family: 'Press Start 2P', cursive;
    background-color: skyblue;
    color: black;
    font-size: 24px;
    padding: 10px 14px;
    border-radius: 5px;
    border: none;
    margin: 10px;
    cursor: pointer;
}

.main-menu-btn::before{
    border-left: 8px solid gold;
    filter: drop-shadow(2px 2px 2px black);

}
